
<h3>Buttons</h3>
<div class="row clearfix">
    <div class="col col-5">
        <button class="btn-primary">Primary Button</button>
    </div>
    <div class="col col-5">
        <button class="btn-secondary">Secondary Button</button>
    </div>
    <div class="col col-5">
        <button class="btn-alert">Danger Button</button>
    </div>
    <div class="col col-5">
        <button class="btn-cancel">Cancel Button</button>
    </div>
    <div class="col col-5">
        <button class="disabled">Disabled Button</button>
    </div>
</div>
