
<h3>Dropdown</h3>
<div class="row clearfix">
    <div class="col col-3">
        <div class="dropdown open">
            <a class="dropdown-toggle" data-toggle="dropdown">sort by</a>

            <div class="dropdown-menu">
                
                <li class="active"><a>project</a></li>
                
                <li><a>due date</a></li>
                
                <li><a>title</a></li>
                
                <li><a>priority</a></li>
                
            </div>
        </div>
    </div>

    <div class="col col-3">
      <div class="dropdown open">
        <a>Icon</a>
        <ul class="dropdown-menu dropdown-tny">
          <li class="active">
            <a><svg class="icon-text-mode i-sml i-3"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-text-mode"></use></svg></a>
          </li>
          <li>
            <a><svg class="icon-subtask-mode i-sml i-3"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-subtask-mode"></use></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>

<div class="row clearfix">
  <div class="col col-2 right">
    <div class="dropup td-item open">
        <a class="dropdown-toggle" data-toggle="dropdown">dropup</a>
          <div class="dropdown-menu">
              <li class="active"><a>1</a></li>
              <li><a>2</a></li>
              <li><a>3</a></li>
          </div>
      </div>
  </div>
</div>