<!DOCTYPE html>
<html>
{{> head}}
<body>

<div class="container">
    
    <div class="section clearfix">
        {{> button}}
    </div>

    <div class="section clearfix">
        {{> input}}
    </div>

    <div class="section clearfix">
        {{> dropdown}}
    </div>    

    <div class="section clearfix">
        {{> switch}}
    </div>    

    <div class="section clearfix">
        {{> calendar}}
    </div>    

</div>

</body>
</html>