
<h3>Input</h3>
<div class="row clearfix">
    <div class="col col-5">
        <input type="text" placeholder="Inactive">
    </div>
    <div class="col col-5">
        <input type="text" placeholder="Error" class="input-error">
    </div>
    <div class="col col-5">
        <input type="text" value="Disabled" disabled="disabled" class="disabled">
    </div>
</div>
