
<h3>Switch</h3>
<div class="row clearfix">
    <div class="col col-5">
        <div class="switch small round">
            <input id="s" type="checkbox">
            <label for="s"></label>
        </div>
    </div>

    <div class="col col-5">
        <div class="switch round">
            <input id="w" type="checkbox">
            <label for="w"></label>
        </div>
    </div>

    <div class="col col-5">
        <div class="switch small">
            <input id="i" type="checkbox">
            <label for="i"></label>
        </div>
    </div>

</div>
