// css loading function

@mixin loading-circle($size, $border, $duration) {
      height: $size;
      width: $size;
      border: $border;
      border-radius: 50%;
      border-right-color: transparent;
      animation: rotate $duration linear .2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

